.van-nav-bar__title {
  color: #fff !important;
}

.van-nav-bar__text {
  color: #fff !important;
}

.van-nav-bar__arrow {
  color: #fff !important;
}
/* .van-tabs--line .van-tabs__wrap{
  padding-top: 46px !important;
} */
/* .van-sticky--fixed .van-tabs__wrap{
  padding-top: 46px !important; 
  } */
  /* .tabs div{
    padding-top: 46px !important;
  } */